*{margin:0px;}
#header{width:1520px;height:100px;}
#head_top{width:1520px;height:119px;}
#head_middle{width:1520px;height:65px;color:#3366CC;font-family:"华文行楷";font-size:64px;text-align:center;margin-top:50px;}
#head_button{width:1520px;height:35px;color:#000;font-family:"华文行楷";font-size:24px;text-align:center;margin-top:20px;}
#body{background-size:1520px 400px;background-image:url(../images/bg.jpg);background-repeat:no-repeat;width:1520px;height:400px;margin-top:50px;}
#body_left{width:720px;height:400px;float:left;}
#body_middle{width:100px;height:400px;float:left;}
#body_right{width:700px;height:400px;float:left;}
.form_login{font-size:15px;font-family:"华文楷体"}
#foot{width:1520px;height:100px;background-image:url(../images/bottom.gif);background-size:1520px 100px;background-repeat:no-repeat;margin-top:10px;}
